<div>
  <div class="container">
    <h2 class="text-center h2__styling">Paslaugos</h2>
    <div class="row justify-content-center">
      <div class="col-md-3 column one">
        <div class="col-md-12 col__one-btn">
          <h2>Paslaugos</h2>
          <button type="buttton" routerLink="/services" class="btn cBtn p-2">
            Sužinoti daugiau
          </button>
        </div>
        <div class="col-md-12">
          <img
            class="img-fluid img__order"
            src="../../../assets/mainPage/Antakiai-small.webp"
            alt=""
            width="350px"
            height="250px"
          />
        </div>
      </div>
      <div class="col-md-3 column d-flex align-items-end">
        <img
          class="img-fluid"
          src="../../../assets/mainPage/Ilgalaikis-makiazas-small.webp"
          alt=""
          width="350px"
          height="280px"
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 column">
        <img
          class="img-fluid"
          src="../../../assets/mainPage/Depiliacija-small.webp"
          alt=""
          width="350px"
          height="250px"
        />
      </div>

      <div class="col-md-2 column">
        <img
          class="img-fluid"
          src="../../../assets/mainPage/Blakstienu-priauginimas1-small.webp"
          alt=""
          width="250px"
          height="380px"
        />
      </div>
      <div class="col-md-3 column">
        <img
          class="img-fluid"
          src="../../../assets/mainPage/Blakstienu-priauginimas-small.webp"
          alt=""
          width="350px"
          height="250px"
        />
      </div>
    </div>
  </div>
</div>
