<div>
  <div class="container" [@fadeIn]="state">
    <h2 class="text-center h2__styling">Paslaugos</h2>
    <div class="row justify-content-center">
      <div class="col-md-3 column one">
        <div class="col-md-12 col__one-btn">
          <h2>Paslaugos</h2>
          <button
            type="buttton"
            routerLink="/services"
            class="btn btn-outline-success p-2"
          >
            Sužinoti daugiau
          </button>
        </div>
        <div class="col-md-12">
          <img
            class="img-fluid img__order"
            src="../../../assets/mainPage/Antakiai.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-3 column d-flex align-items-end">
        <img
          class="img-fluid"
          src="../../../assets/mainPage/Ilgalaikis-maiazas.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 column">
        <img
          class="img-fluid"
          src="../../../assets/mainPage/Depiliacija-1.jpg"
          alt=""
        />
      </div>

      <div class="col-md-2 column">
        <img
          class="img-fluid"
          src="../../../assets/mainPage/Blakstienu-priauginimas1.jpeg"
          alt=""
        />
      </div>
      <div class="col-md-3 column">
        <img
          class="img-fluid"
          src="../../../assets/mainPage/Blakstienu-priauginimas.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
