.container-fluid {
  background-color: #f2efeb;
  padding-top: 7em;
}

.container {
  min-height: 80vh;
}

.text-size {
  font-size: 12px;
}

img {
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: cover;
}
