<footer class="container-fluid background">
  <div class="container mx-auto">
    <div class="row">
      <!-- <div class="col">
        <div class="footer_logo">
          <a routerLink="/home">
            <img
              class=""
              src="../../assets/logoWomentLeft.png"
              alt=""
              width="200"
              height="50"
            />
          </a>
        </div>
      </div> -->
      <div class="">
        <div class="content"></div>
        <div>
          <ul class="list-unstyled list">
            <li>
              <a routerLink="/home">Pagrindinis</a>
            </li>
            <li>
              <a routerLink="/about-me">Apie</a>
            </li>
            <li>
              <a routerLink="/services">Paslaugos</a>
            </li>
            <li>
              <a routerLink="/cost">Įkainiai</a>
            </li>
            <li>
              <a routerLink="/gallery">Galerija</a>
            </li>
            <li>
              <a routerLink="/contact">Kontaktai</a>
            </li>
          </ul>
        </div>

        <div class="location">
          <a
            target="blank"
            href="https://www.google.lt/maps/place/M.+Dauk%C5%A1os+g.+16,+Kaunas+44287/@54.8967154,23.889189,17z/data=!3m1!4b1!4m5!3m4!1s0x46e7220fb47dd991:0xa2995b633bd19fbb!8m2!3d54.8967154!4d23.8913777"
          >
            <img
              src="../../assets/location.png"
              alt="location icon"
              width="25em"
              height="25em"
            />
          </a>

          <a href="tel:+37060661833">
            <img
              src="../../assets/phone.svg"
              alt="phone icon"
              width="25em"
              height="25em"
            />
          </a>

          <a href="https://www.facebook.com/profile.php?id=100021914182057">
            <img
              src="../../assets/facebook.svg"
              alt="facbook icon"
              width="25em"
              height="25em"
            />
          </a>

          <a href="https://www.instagram.com/gitanagustaitiene/">
            <img
              src="../../assets/instagram.svg"
              alt="instagram icon"
              width="25em"
              height="25em"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="text-center copyright">© 2022 Grožio Subtilybes</div>
  </div>
</footer>
