.container-fluid {
  background-color: #f2efeb;
}
.container {
  padding-top: 5em;
  padding-bottom: 5em;
  min-height: 90vh;
}
img {
  width: 100%;
  max-width: 650px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 767px) {
  #section-text {
    order: 2;
  }
  #section-image {
    order: 1;
    padding-bottom: 1em;
  }
}
