<div class="container-fluid">
  <div class="container text-center">
    <div class="row g-5 padding">
      <h3 class="mb-2">Apie mane</h3>
      <div class="col-md-6" id="section-text">
        <p>
          Esu Gitana, sertifikuota grožio specialistė. Grožio pasaulyje dirbu
          daugiau nei septynerius metus. Esu disciplinuota, atsakinga bei
          kruopšti savo darbe. <br />
          <br />
          Nuolat tobulėju, seku naujausias tendencijas, bei nenustoju gilinti
          savo žinių dalyvaudama įvairiuose grožio srities seminaruose. <br />
          <br />
          Mano tikslas yra jusų norų įgyvendinimas, bei puikių rezultatų
          pasiekimas. Man labai svarbu kuriamasis ryšys su klientu, šiltas
          priėmimas, įsiklausimas, jaukumas bei atsidavimas jums ir darbui
          atliekant procedūrą. <br />
          <br />
          Kiekvienai klientei stengiuosi suteikti kuo daugiau informacijos apie
          procedūrą, darbo specifiką bei eigą. Visuomet įdedu daug darbo bei
          pastangų, kad jūsų vizitas pas mane jums būtų malonus. <br />
          <br />
          Laimingos moters akys man suteikia motyvacijos nuolat tobūlėti, kad
          galečiau teigti tik geriausias ir kokybiškiausias paslaugas. <br />
          <br />Maloniai kviečiu apsilankyti.
        </p>
      </div>
      <div class="col-md-6" id="section-image">
        <img
          src="../../assets/page-images/about-me.jpg"
          alt="image of myself"
          width="100%"
          height="auto"
        />
      </div>
    </div>
  </div>
</div>
