.container-fluid {
  background-color: #ebe7e2;

  padding-top: 5em;
  padding-bottom: 5em;
}

@media (max-width: 767px) {
  #section-text {
    order: 2;
  }
  #section-image {
    order: 1;
    padding-bottom: 1em;
  }
}

@media (min-width: 767px) {
  .padding {
    min-height: 80vh;
  }
}
