* {
  margin: 0 auto;
  padding: 0;
}
.container {
  max-width: 1400px;
  padding-top: 25em;
  position: relative;
}
.h2__styling {
  color: #f8f7f5;
  font-size: 4.5rem;
}
.text__content {
  background-color: #f2efeb;
}

@media (min-width: 768px) {
  .text__content {
    padding: 4em 1em 4em 1em;
  }
  .text__content2 {
    text-align: left;
    max-width: 60%;
    padding-left: 4em;
  }

  .img__position {
    position: absolute;
    bottom: 0;
  }
  .btn {
    z-index: 10;
  }
  .h2__styling {
    font-weight: 600;
    font-size: 8.5rem;
  }
}
@media (max-width: 767px) {
  .container {
    padding-top: 10em;
  }
  .text__content2 {
    padding: 1.5em 0;
  }
  .text__content2 {
    max-width: 85%;
  }
  .img__position {
    display: flex;
  }
}
