<section class="container">
  <div class="row">
    <h2 class="text-center h2__styling">Apie Mane</h2>
    <ng-container>
      <div class="img__position">
        <img
          class="img-fluid"
          src="../../../assets/apieMane.png"
          alt=""
          width="300px"
        />
      </div>
    </ng-container>
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="col-md-12 text__content">
        <div class="text__content2">
          <h3 class="text-center pb-3">Apie Mane</h3>
          <p id="one">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum
            facere facilis, itaque laudantium amet nesciunt? Inventore porro,
            corrupti totam distinctio officiis magnam fugiat reiciendis
            laboriosam in. Asperiores deserunt vitae officiis?
          </p>
          <div class="d-flex justify-content-center">
            <button
              type="buttton"
              class="btn btn-outline-success p-2 m-3"
              routerLink="/about-me"
            >
              Skaityti plačiau
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
