.container-fluid {
  background-color: #f2efeb;
}
.background {
  background-image: url("../../assets/error-page/404.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 90vh;
  max-width: 2400px;
}

.text {
  padding-top: 5em;
  text-align: center;
  color: white;
}
