<div class="container-fluid">
  <div class="container">
    <section>
      <h3 class="text-center pb-5">Ilgalaikis Makiažas</h3>
      <div class="row">
        <div class="col-md-6">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia
            modi exercitationem quaerat corrupti et consequatur ad placeat,
            illum saepe repudiandae amet ipsam tempora dicta! Sequi esse illo
            consequuntur enim veritatis! Perspiciatis molestiae facere aperiam
            ullam, ipsum obcaecati nihil omnis officiis commodi. Molestiae
            maxime, ipsum, quisquam id dolorum tempora nisi rem pariatur eveniet
            minima est placeat voluptatem vero ut laborum ex. Commodi reiciendis
            dignissimos dolore ad possimus sed, sit temporibus sequi veniam a
            eum distinctio earum dolorem sunt ducimus ex enim maxime excepturi
            labore eligendi fugiat quo beatae. Nihil, iure exercitationem.
            Deserunt harum voluptatibus ab repellat saepe impedit illo enim non,
            commodi ipsa itaque rerum ex quo doloremque a dolore? Tenetur, dicta
            consequatur quaerat sint at voluptas! Nemo rem beatae odio. Tenetur
            illum sunt nisi blanditiis, explicabo ut obcaecati, accusantium fuga
            distinctio illo provident cumque laboriosam eius qui nemo
            dignissimos fugit, nam eaque quibusdam dolorem maxime. Iure maiores
            obcaecati dignissimos adipisci.
          </p>
        </div>
        <div class="col-md-6"></div>
      </div>
    </section>
  </div>
</div>
