<div class="background-img"></div>
<div class="container-fluid">
  <div class="container pt-5">
    <h2>Paslaugos</h2>

    <div class="row">
      <div class="col-sm-6">
        <a routerLink="/permanent-makeup">
          <div class="card mb-3">
            <img
              src="../../assets/mainPage/Ilgalaikis-maiazas.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Ilgalaikis Makiažas</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a routerLink="/hena">
          <div class="card mb-3">
            <img
              src="../../assets/mainPage/Antakiai.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Antakių Dažymas Hena</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6">
        <a routerLink="/eylash-extension">
          <div class="card mb-3">
            <img
              src="../../assets/mainPage/Blakstienu-priauginimas.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Blakstienu Priauginimas</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a routerLink="/waxing">
          <div class="card mb-3">
            <img
              src="../../assets/mainPage/Depiliacija-1.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Depiliacija</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a routerLink="/eyelash-lamination">
          <div class="card mb-3">
            <img
              src="../../assets/mainPage/Blakstienu-priauginimas1.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Blakstienu Laminavimas</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 pb-5">
        <a routerLink="/eyebrow-lamination">
          <div class="card mb-3">
            <img
              src="../../assets/mainPage/Antakiai.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Antakių Laminavimas</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
