<div class="background-img"></div>
<div class="container-fluid">
  <div class="container-media pt-5">
    <h2>Kainoraštis</h2>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span> <b>Ilgallaikis Makiažas</b> </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Procedūra</th>
                <th scope="col">Kaina</th>
                <th scope="col">Trukmė</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>Antakiai</td>
                <td>80€</td>
                <td>3 val</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Akių Linija</td>
                <td>80€</td>
                <td>3 val</td>
              </tr>

              <tr>
                <th scope="row"></th>
                <td>Korekcija iki 3men</td>
                <td>40€</td>
                <td>2 val</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Korekcija iki 6men</td>
                <td>60€</td>
                <td>2 val</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span> <b>Blakstienų Priauginimas</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Procedūra</th>
                <th scope="col">Kaina</th>
                <th scope="col">Trukmė</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>Klasikinis</td>
                <td>30€</td>
                <td>2 val</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Klasikinis (papildymas)</td>
                <td>25€</td>
                <td>1.30 val</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Volume</td>
                <td>35€</td>
                <td>2 val</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Mega Volume</td>
                <td>40€</td>
                <td>2 val</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Volume (papildymas)</td>
                <td>30€</td>
                <td>1.30 val</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Hibridinis (Mix klasika + volume)</td>
                <td>35€</td>
                <td>2 val</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Hibridinis (papildymas)</td>
                <td>30€</td>
                <td>1.30 val</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Kim Kardashian</td>
                <td>40€</td>
                <td>2 val</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Kim Kardashian (papildymas)</td>
                <td>35€</td>
                <td>1.30 val</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Baby Lashes</td>
                <td>35€</td>
                <td>2 val</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Baby Lashes (papildymas)</td>
                <td>30€</td>
                <td>1.30 val</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span> <b>Blakstienų Laminavimas</b> </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Procedūra</th>
                <th scope="col">Kaina</th>
                <th scope="col">Trukmė</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>Laminavimas</td>
                <td>30€</td>
                <td>1 val</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span> <b>Antakių Laminavimas</b> </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Procedūra</th>
                <th scope="col">Kaina</th>
                <th scope="col">Trukmė</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>Laminavimas</td>
                <td>25€</td>
                <td>1 val</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span> <b>Antakių Dažymas/korekcija</b> </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Procedūra</th>
                <th scope="col">Kaina</th>
                <th scope="col">Trukmė</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>Antakių dizainas Hena dažais</td>
                <td>15€</td>
                <td>45 min</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Antakių dizainas cheminiais dažais</td>
                <td>10€</td>
                <td>30 min</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Antakų dizinas bronsun dažais</td>
                <td>12€</td>
                <td>30 min</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span> <b>Depiliacija vašku (karštas, juostinis vaškas)</b> </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Procedūra</th>
                <th scope="col">Kaina</th>
                <th scope="col">Trukmė</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>Antakiai/ ūseliai/ skruostų/ smakro</td>
                <td>5€</td>
                <td>15 min</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Veido pilna</td>
                <td>15€</td>
                <td>30 min</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Pažastys</td>
                <td>8€</td>
                <td>30 min</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Pilvo</td>
                <td>8€</td>
                <td>30 min</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Rankų</td>
                <td>15€</td>
                <td>30 min</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Kojų blauzdų, šlaunų</td>
                <td>20€</td>
                <td>30 min</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Kojų pilna</td>
                <td>25€</td>
                <td>45 min</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Bikini higieninė</td>
                <td>15€</td>
                <td>30 min</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Bikini pilna</td>
                <td>30€</td>
                <td>1 val</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
