* {
  font-family: "Gulzar", serif;
}

.btn-outline-success {
  border-color: #fddd83;
  color: grey;
}
.btn-outline-success:hover {
  background-color: #fddd83;
  border-color: #fddd83;
  color: grey;
}
